*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #0f0f10;
    color: #ffff;
    margin: 0 204px 0 204px;
}
/* This is header  */
.header{
    display: flex;
    margin: 30px 0 30px 0;
    align-items: center;
}
.navbar ul{
    display: flex;
    gap: 40px;
}
.navbar ul li{
    list-style: none;
    font-weight: 700;
    font-size: 14px;
}
.btn button{
    background-color: #1e1e21;
    color: #ffff;
    width: 115px;
    height: 41px;
    border-radius: 5px;
    font-weight: 500;
}
.logo{
    width: 50%;
}
.logo img{
    height: 25px;
}
.navbar{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 40px;
}
/* middel section  */
main{
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    position: relative;
    height: 500px;
}
.main-img{
    width: 230px;
    position: relative;
    top: -220px;
    left: 70px;
}
.main-img img{
    height: 550px;
}
.main {
    margin-left: 180px;
}
.main img{
    width: 320px;
    margin-left: 55px;
    margin-top: 33px;
}
.main h1{
    font-size: 45px;
    font-weight: 900;
}
.main h4{
    font-size: 15px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
}
.main p{
    font-size: 13px;
    font-weight: 100;
}
.shopping-bag {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    background: #1e1e21;
    border-radius: 8px;
    width: fit-content;
    padding: 10px 25px;
  }
  
  .shopping-bag img {
    width: 15px;
    background-color: transparent;
    margin-left: 1px;
    margin-top: 1px;
  }
  
  .shopping-bag p {
    margin-bottom: 0;
    color: white;
    background-color: transparent;
  }
  
  .shopping-bag span {
    background-color: transparent;
  }
/* logos section  */
.logos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 110px;
}
#icons{
    height: 25px;
}
.main-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
}
.specs img{
    height: 61px;
    width: 170px;
}
.content{
    display: flex;
    align-items: center;
    gap: 100px;
}
.hp-icons{
    margin-top: 25px;
}
.hp-icons .bt{
    margin-left: 40px;
    margin-bottom: 25px;
}
.hp-icons .bt h4{
    font-size: 13px;
    font-weight: 400;
}
.hp-icons .bt p{
    font-size: 10px;
}
.hp-icons .battery{
    margin-bottom: 25px;
}
.hp-icons .load{
    margin-bottom: 25px;
}
.hp-icons .battery h4{
    font-size: 13px;
    font-weight: 400;
}
.hp-icons .battery p{
    font-size: 10px;
}
.hp-icons .load h4{
    font-size: 13px;
    font-weight: 400;
}
.hp-icons .load p{
    font-size: 10px;
}
.hp-icons .mic h4{
    font-size: 13px;
    font-weight: 400;
}
.hp-icons .mic p{
    font-size: 10px;
}
.hp-icons .mic{
    margin-left: 40px;
}
#mini-icons{
    height: 20px;
}
.hp img{
    height: 314px;
    width: 244px;
}
/* this is hp section  */
section{
    display: flex;
    align-items: center;
    gap: 60px;
    flex-direction: column;
}
.case img{
    height: 45px;
}
.caseimg{
    display: flex;
    gap: 60px;
    align-items: center;
}
.caseimg img{
    height: 350px;
}
.case-btn{
    background-color: #1e1e21;
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
    justify-content: center;
    border-radius: 8px;
    height: 43px;
    width: 139px;
}
.case-btn img{
    height: 20px;
}
.case-btn p{
    font-size: 13px;
}
.case-content p{
    font-size: 12px;
    font-weight: 300;
}
.section-2{
    height: 321px;
    width: 941px;
    margin-top: 120px;
    background-color: #181a1b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 10px;
}
.section2-text p{
    margin: 12px 0 12px 0;
    font-size: 15px;
    font-weight: 400;
}
.section2-btn{
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border-radius: 8px;
    height: 42px;
    width: 121px;
}