*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
    font-family: 'Kalam', cursive;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #0f0f10;
    color: #ffff;
    margin: 0 204px 0 204px;
}
.header{
    display: flex;
    margin: 30px 0 30px 0;
    align-items: center;
}
.navbar ul{
    display: flex;
    gap: 40px;
}
.navbar ul li{
    list-style: none;
    font-weight: 700;
    font-size: 14px;
}
.btn button{
    background-color: #1e1e21;
    color: #ffff;
    width: 115px;
    height: 41px;
    border-radius: 5px;
    font-weight: 500;
}
.logo{
    width: 50%;
}
.logo img{
    height: 25px;
}
.navbar{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 40px;
}
main{
    display: flex;
    align-items: flex-start;
    margin-top: 30px;
    position: relative;
}
.main-img{
    width: 230px;
    position: relative;
    top: -220px;
    left: 70px;
}
.main-img img{
    height: 550px;
}
.main {
    margin-left: 180px;
}
.main img{
    width: 320px;
    margin-left: 55px;
    margin-top: 33px;
}
.main h1{
    font-size: 45px;
    font-weight: 900;
}
.main h4{
    font-size: 15px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 25px;
}
.main p{
    font-size: 13px;
    font-weight: 100;
}
.shopping-bag {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    background: #1e1e21;
    border-radius: 8px;
    width: fit-content;
    padding: 10px 25px;
  }
  
  .shopping-bag img {
    width: 15px;
    background-color: transparent;
    margin-left: 1px;
    margin-top: 1px;
  }
  
  .shopping-bag p {
    margin-bottom: 0;
    color: white;
    background-color: transparent;
  }
  
  .shopping-bag span {
    background-color: transparent;
  }