*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #eef1f3;
}
/* this is header css */
.section{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid white;
    width: 86%;
    height: 95px;
    margin-left: 100px;
}
.section img{
    height: 45px;
    margin-left: -90px;
}
.section ul{
    display: flex;
    gap: 50px;
}
.section ul li{
    list-style: none;
    font-size: 18px;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./Photos/mainBackground.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 125vh;
    position: relative;
    color: #fff;
  }
.section-2{
    margin-left: 150px;
    margin-top: 90px;
}
.section-2 h1{
    font-size: 70px;
}
.section-2 p{
    margin: 20px 0 20px 0;
}
.section-2 button{
    height: 45px;
    width: 145px;
    border-radius: 25px;
    border: none;
    background-color: #6663e9;
    color: #fff;
    font-weight: bolder;
    font-size: 15px;
}
.middle-logos{
    height: 200px;
    position: relative;
    bottom: 100px;
    width: 95%;
    left: 2.5%;
    border-radius: 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
    gap: 80px;
    justify-content: center;
}

.section-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}
.section-3 h1{
    font-size: 65px;
    text-align: center;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.section-3-imgs{
    display: flex;
    gap: 50px;
    border-radius: 10px;
}
.section-3-imgs img{
    border-radius: 15px;
    height: 400px;
    width: 370px;
}
.section-3-text{
    display: flex;
    align-items: center;
    height: 121px;
    width: 326px;
    background-color: #fff;
    border-radius: 15px;
    justify-content: space-around;
    position: relative;
    bottom: 60px;
    left: 21px;
    font-size: 15px;
}
.section-3-text h2 span{
    /* font-size: 15px; */
    color: #6663e9;
    /* font-weight: 500; */
    font-family: Arial, Helvetica, sans-serif;
}
.section-3-btn{
    height: 50px;
    width: 112px;
    background-color: #6663e9;
    color: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-3-imgs .two{
    position: relative;
    top: 25px;
}
.section-3-imgs .three{
    position: relative;
    top: 50px;
}
.section-3-imgs-2{
    display: flex;
    bottom: 60px;
    position: relative;
    gap: 50px;
    border-radius: 10px;
}
.section-3-imgs-2 img{
    border-radius: 15px;
    height: 400px;
    width: 370px;
}
.section-3-imgs-2 .two{
    position: relative;
    top: 25px;
}
.section-3-imgs-2 .one{
    position: relative;
    top: 50px;
}
.section-3-imgs-3{
    display: flex;
    gap: 50px;
    border-radius: 10px;
    position: relative;
    bottom: 120px;
}
.section-3-imgs-3 img{
    border-radius: 15px;
    height: 400px;
    width: 370px;
}
.section-3-imgs-3 .two{
    position: relative;
    top: 25px;
}
.section-3-imgs-3 .three{
    position: relative;
    top: 50px;
}
/* this is section - 4  */
.section-4-items{
    display: flex;
}
.section-4-top{
    display: flex;
    align-items: center;
}
.section-4-blue{
    height: 360px;
    width: 513px;
    background-color: #6663e9;
    border-bottom-right-radius: 60px;
}
.section-4-white{
    position: absolute;
    left: 83px;
    height: 328px;
    width: 328px;
    background-color: #fff;
    border-radius: 60px;
}
.section-4-items img{
    position: absolute;
    margin-top: -105px;
    left: 113px;
    height: 407px;
    width: 400px;
    /* background-color: pink; */
    border-radius: 60px;
}
.section-4-text{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: -80px;
}
.section-4-text h1{
    font-size: 60px;
}
.section-4-btn{
    height: 45px;
    width: 190px;
    background-color: #6663e9;
    color: #fff;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
/* this is section 4 bottom side  */
.section-4-bottom{
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 2px solid red; */
}
.section-4-bottom-items{
    display: flex;
    align-items: center;
}
.section-4-bottom-img{
    height: 410px;
    width: 400px;
    position: absolute;
    left: 820px;
    border-radius: 60px;
    margin-top: -150px;
}
.section-4-bottom-blue{
    height: 460px;
    width: 660px;
}
/* this is section-5  */
.section-5{
    margin-top: 40px;
    margin-left: 70px;
    height: 473px;
    width: 1203px;
    background-color: #6663e9;
    border-radius: 70px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 55px;
}
.section-5 h1{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
}
.section-5-bottom{
    display: flex;
    gap: 15px;
    align-items: center;
}
.section-5 input{
    background-color: #5654d1;
    height: 60px;
    width: 470px;
    border-radius: 30px;
    border: none;
}
.section-5 input::placeholder{
    color: #fff;
    text-align: center;
}
.section-5 .btn{
    height: 60px;
    width: 180px;
    background-color: #fff;
    color: #6663e9;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}
.section-5-bottom img{
    position: relative;
    left: 60px;
}
/* this is footer side  */
footer{
    display: flex;
    height: 420px;
}
.footer-left{
    width: 50%;
    /* border: 2px solid red; */
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.logo-footer{
    width: 150px;
}
.leftside{
    margin-left: 80px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.footer-right{
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.footer-right ul{
    list-style: none;
    margin: 15px 0;
}
.footer-right ul li{
    margin: 10px 0;
}