body {
  background-image: -webkit-linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  background-image: -moz-linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  background-image: -o-linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  font-family: cursive;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}