* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 618px;
  gap: 20px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
